* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: hsl(241, 80%, 32%);
  line-height: 1.6;
}

nav {
  background-color: black;
  height: 50px;
}
nav ul {
  float: right;
  display: flex;
  flex-direction: row;
  padding-right: 40px;
  gap: 10px;
  color: #f4f4f4;
}
nav ul li {
 list-style-type: none;
}

#showcase {
  background-image: url('img/homepage.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left {
  float: left;
  width: 40%;
  text-align: center;
  padding-top: 20%;
}

.right {
  float: right;
  width: 40%;
  text-align: center;
  padding-top: 10%;
  height: 80%;

}
 
showcase h1 {
  font-size: 50px;
}
#showcase p {
  font-size: 20px;
}
#showcase.button {
  font-size: 18px;
  text-decoration: none;
  color: #926292;
  border: #926292 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
#showcase .button:hover {
  background: #926292;
  color: #fff;
}
#section-a {
  padding: 20px;
  background: #926239;
  color: #fff;
  text-align: center;
}
#section-b {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}
#section-c {
  display: flex;
  flex-direction: row;
  gap: 5px;

}
#section-c div {
  width: 100%;
  height: auto;
  display: flex;
}

#section-c div .cont {
  flex-direction: column;
  align-items:center;
}


 img {
  padding: 20px;
  width: 80%;
  height: 70%;
}


#section-c .box-1,
#section-c .box-3 {
  background: #926239;
  color: #fff;
}
#section-c .box-2 {
  background: #f9f9f9;
}
